# Директории и файлы Go
bin/
obj/
*.exe
*.dll
*.so
*.dylib
*.test

# Артефакты сборки
*.out

# Кэш и сессии
*.log
*.cache
*.session

# Файлы отладки
*.prof
*.trace

# Личные настройки
*.env
.env.local

# Временные файлы и каталоги
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo

# Исключение модулей
vendor/

# Исключение для зависимостей и модулей
/go.sum